<h1>Рабочий кабинет  администратора</h1>

<div>
    <a class="btn btn-outline-dark" asp-controller="Tovar" asp-action="Index" asp-route-id="0">Управление товарами</a>
    <br/>
    <br />
    <a class="btn btn-outline-dark" asp-controller="Orders" asp-action="Index">Управление заказами</a>
</div>