<h1>Рабочий кабинет  администратора</h1>

<div>
    <a class="btn btn-outline-dark" asp-controller="Tovar" asp-action="Index" asp-route-id="0">Список всех товаров</a>
    <a class="btn btn-outline-dark" asp-action="Create" asp-controller="Tovar">Добавить товар</a>
    <a class="btn btn-outline-dark" asp-controller="Orders" asp-action="Index">Список всех заказов</a>
</div>