@{
    ViewData["Title"] = "Контакты";
}
<h1>@ViewData["Title"]</h1>

<div class="adress">
    НАШ АДРЕС<br />
    ул. Немига 12, Минск
</div>
<div class="worktime">
    ВРЕМЯ РАБОТЫ<br/>
    Понедельник – суббота:<br/>
    с 10.00 до 20.00<br/>
    Воскресенье –<br/>
    с 11.00: до 18.00
</div>
<div class="phone">
    <p>ТЕЛЕФОНЫ</p><br />
    <p>+375 (17) 200-20-73<br/>
    +375 (29) 660-60-74</p>
</div>